@font-face {
  font-family: 'pxplus_ibm_vga8regular';
  src: url(https://funky-lil-ghost.github.io/fonts/IBM_VGA8/pxplus_ibm_vga8-webfont.woff2) format('woff2'),
    url(https://funky-lil-ghost.github.io/fonts/IBM_VGA8/pxplus_ibm_vga8-webfont.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dejavu_sans_monobook';
  src: url(https://funky-lil-ghost.github.io/fonts/Deja-Vu-Sans/deja_vu_sans_mono-webfont.woff2) format('woff2'),
    url(https://funky-lil-ghost.github.io/fonts/Deja-Vu-Sans/deja_vu_sans_mono-webfont.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@media (min-width: 576px) {
  .nav {
    margin: 0;
    min-width: 100%;
    width: 100%;
  }

  body {
    margin: 0;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    overflow-wrap: anywhere;
  }

  div.grid {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .nav {
    width: 25%;
    height: 100%;
    left: 0;
    min-width: 20%;
    top: 0;
    position: fixed;
    padding-top: 20px;
    white-space: wrap;
    overflow: hidden;
  }

  body {
    width: 50%;
    min-width: 50%;
    margin: 0 auto;
  }
}

html {
  background-color: #000000;
  font-size: medium;
  font-family: 'dejavu_sans_monobook', monospace;
  color: #ffffff;
  scrollbar-width: none;
  width: 100%;
}

div.wrapper {
  margin: 2%;
  min-width: 95%;
  width: 95%;
}

a {
  color: #B19EFF;
}

a:hover {
  color: #6C56F5;
}

button {
  background-color: transparent;
  border: none;
  color: #98E551;
  font-family: 'pxplus_ibm_vga8regular', monospace;
  font-size: small;
  cursor: pointer;
}

button:hover {
  text-decoration: underline;
}

body {
  background-color: #000000;
}

div.box {
  width: 100%;
  height: 5px;
}

div.grid {
  display: flex;
  width: inherit;
  min-width: inherit;
}

img {
  display: block;
  width: 50%;
  height: 50%;
}

img.grid-img {
  display: block;
  width: 50%;
  height: 50%;
  margin: 2%;
}

h1,
h2 {
  font-family: 'pxplus_ibm_vga8regular', monospace;
}



header {
  margin-top: 28px;
  font-size: 19px;
  color: #000000;
  position: relative;
}

h1.header-text {
  position: absolute;
  top: -70%;
  left: 1%;
  white-space: nowrap;
}

div.red {
  background-color: #aa654b;
}

div.orange {
  background-color: #c38369;
}

div.grey {
  background-color: #b9b48a;
}

div.yellow {
  background-color: #c3c65d;
}

div.green {
  background-color: #a3c66d;
}

div.blue {
  background-color: #75b7c3;
}

div.purple {
  background-color: #856ec3;
}

div.indigo {
  background-color: #654ebf;
}

iframe {
  display: none;
  height: 0;
  width: 0;
}

s,
.done {
  color: #808080;
}

.todo {
  color: #98E551;
}

.sparkle {
  cursor: url(../images/sparkle.png), auto;
}

.etho {
  cursor: url(../images/ethoslab.png), auto;
}