html {
    background-color: rgb(17, 30, 30);
    font-size: medium;
    font-family: "Roboto Mono", monospace;
    color:azure;
}

body {
    width: 600px;
    margin: 0 auto;
    max-width: fit-content;
    padding: 0 20px 20px 20px;
}

img {
    display: block;
    padding-left: 35px;
}

a {
    color: rgb(245, 93, 190);
}

div.nav {
    display: flex;
    float:left;
}