html {
    background-color: rgb(11, 43, 43);
    font-size: medium;
    font-family: "Roboto Mono", monospace;
    color:azure;
}

div.nav {
    height: 100%;
    width: 200px;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 40px;
}

body {
    width: 600px;
    margin: 0 auto;
    max-width: fit-content;
    padding: 0 20px 20px 20px;
}

img {
    display: block;
    padding-left: 35px;
}

a {
    color: rgb(245, 93, 190);
}
